body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  // font-family: "Playfair Display", serif;
  font-family: "Montserrat", sans-serif;
}
@import "./styles/variables.scss";
@import "./styles/navbar.scss";
@import "./styles/home.scss";
@import "./styles/auth.scss";
@import "./styles/menu.scss";
@import "./styles/carousel.scss";
@import "./styles/list-editor.scss";
@import "./styles/checkbox.scss";
@import "./styles/lists.scss";
@import "./styles/list.scss";

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item.selected {
  color: red;
}

.new-list-carousel {
  width: 500px;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-container {
  margin-top: 50px;
}
