.react-multi-carousel-track {
  padding: 20px 0px !important;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 75px;
  // border: 1px solid $clear;
  border-radius: $round-border;
  background-color: $sea-green;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 1025px) {
  .carousel-item {
    width: 20vw;
  }
}
@media screen and (max-width: 465px) {
  .carousel-item {
    width: 30vw;
  }
}

@media screen and (max-width: 300px) {
  .carousel-item {
    width: 40vw;
  }
}

@keyframes change-color {
  0% {
    background: linear-gradient(
      146deg,
      rgba(49, 237, 174, 1) 0%,
      rgba(49, 237, 174, 1) 100%
    );
  }

  100% {
    background: $sea-green-blue-gradient;
  }
}

.carousel-item.selected {
  animation-name: change-color;
  animation-duration: 0.5s;
  background: $sea-green-blue-gradient;
}
