.home {
  width: 100vw;
  padding-left: 20px;
  padding-top: 20px;
}

.home > .user-container {
  display: flex;
  align-items: center;

  height: 50px;
  width: 100px;
  padding-left: 20px;

  font-family: "Amatic SC", cursive;
  font-family: "Montserrat", sans-serif;
  //   font-weight: 700;
  .username {
    font-size: 20px;
    padding-left: 20px;
    color: $sea-green;
  }
}

.generate-prompt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  p {
    margin: 10px;
    font-size: 13px;
  }
}

.generate-prompt-wrapper > .generate-btn {
  font-size: 20px;
  font-weight: 200;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.3s;
}

.generate-prompt-wrapper > .generate-btn:hover {
  color: $sea-green;
  border-color: $sea-green;
}
