.list-wrapper {
  padding-top: 20px;
  width: 50vw;
}

.list-wrapper > .title-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-wrapper > .button-wrapper {
  display: flex;
}

.list-wrapper > .button-wrapper > .submit-button {
  background-color: $sea-green;
}
