.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 90vw;
  padding: 0px 5vw;
  height: 55px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 10px 13px -7px #666666,
    1px 5px 15px 5px rgba(119, 119, 119, 0);
  box-shadow: 0px 10px 13px -7px #696969, 1px 5px 15px 5px rgba(0, 0, 0, 0);
}

.navbar > .wipstitch {
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: #31edae;
}

.navbar > .user-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  .username {
    font-size: 20px;
  }
}

.navbar > .user-container > .logout-btn {
  padding-left: 10px;
  padding-top: 5px;
}
