.toggle-button {
  width: 90px;
  height: 25px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // background-color: $sea-green;
  background-color: rgb(214, 214, 214);
  border-radius: 30px;
  color: black;
  transition: all 0.3s;
}

.toggle-button.public {
  background-color: rgb(214, 214, 214);
}

.toggle-button.private {
  background-color: $sea-green;
}

.toggle-label {
  margin: 5px;
}
.toggle-label.private {
  margin-left: 30px;
}

.toggle {
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 34px;
  transition: all 0.3s ease-in 0s;
  position: absolute;
  right: 0;
}

.toggle.public {
  background-color: white;
  width: 20px;
  height: 20px;
}

.toggle.private {
  background-color: white;
  width: 20px;
  height: 20px;
  left: 0;
}
